body {
  background-color: #1f2023;
  color: #000000;
  font-family: arial, sans-serif;
  border: 2px solid #808080;
  border-radius: 10px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}
div {
  margin: 20px;
  padding: 20px;
  border: 2px solid #808080;
  border-radius: 10px;
  background-color: #414349;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #cfcecd;
  text-align: center;
  font-size: 30px;
  font-family: cursive, sans-serif;
}
h1 {
  text-align: center;
  color: #cfcecd;
  font-family: cursive, sans-serif;
}

p {
  width: 90%;
  text-align: center;
  color: #cfcecd;
  margin: auto;
  padding: 10px;
  font-family: cursive, sans-serif;
}

details {
  text-align: left;
  color: #ff8000;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-family: cursive, sans-serif;
  font-size: 20px;
}

footer {
  text-align: left;
  color: #cfcecd
  margin-top: 20px;
  margin-left: 100px;
  padding-bottom: 20px;
  font-family: cursive, sans-serif;
}

header {
  text-align: center;
  margin: 20px;
  font-family: cursive, sans-serif;
}

a:hover {
  background-color: #ff8040
  
}

a {
  color: #cfcecd;
  text-decoration: none;
  font-family: cursive, sans-serif;
}

img {
  border: 3px solid #808080;
  border-radius: 10px;
}

.credit {
  text-align: left;
  margin: 0;
  font-size: 10px;
  bottom: 0;
  position: fixed;
  background-color: #414349;
  width: 100%;
  font-family: cursive, sans-serif;
}

.credit a:hover {
  background-color: #1f2023;
}

.banniere:hover {
  background-color: #1f2023;
}

div#clock{
  width: 500px;
  margin: auto;
}
